/*RESET html tags*/
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset {
	margin: 0;
	padding: 0;
}

img, fieldset {
	border: 0;
}

/* set image max width to 100% */
img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}

/* set html5 tags to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}

/************************************************************************************
GENERAL STYLING
*************************************************************************************/
body {
	background: #0d1424 url(../images/body-bg.jpg) no-repeat center top;
	font: .81em/150% Arial, Helvetica, sans-serif;
	color: #666;
}
a {
	color: #026acb;
	text-decoration: none;
	outline: none;
}
a:hover {
	text-decoration: underline;
}
p {
	margin: 0 0 1.2em;
	padding: 0;
}

/* list */
ul, ol {
	margin: 1em 0 1.4em 24px;
	padding: 0;
	line-height: 140%;
}
li {
	margin: 0 0 .5em 0;
	padding: 0;
}

/* headings */
h1, h2, h3, h4, h5, h6 {
	line-height: 1.4em;
	margin: 20px 0 .4em;
	color: #000;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.6em;
}
h3 {
	font-size: 1.4em;
}
h4 {
	font-size: 1.2em;
}
h5 {
	font-size: 1.1em;
}
h6 {
	font-size: 1em;
}

/* reset webkit search input styles */
input[type=search] {
	-webkit-appearance: none;
	outline: none;
}
input[type="search"]::-webkit-search-decoration, 
input[type="search"]::-webkit-search-cancel-button {
	display: none;
}

/************************************************************************************
STRUCTURE
*************************************************************************************/
#xnote_wrap {
	position:relative;
	width: 95%;
	height: 95%;
	margin: 0 auto;
}

/************************************************************************************
HEADER
*************************************************************************************/
#xnote_header {
	position:fixed;
	top: 10px;
	margin: auto;
	height: auto;
	z-index: 4900;
}

/************************************************************************************
FOOTER
*************************************************************************************/
#xnote_footer {
	position:fixed;
	bottom: 10px;
	width:95%;
	left:40%;
	color: #ccc;
	font-size: 85%;
}
#xnote_footer a {
	color: #fff;
	width:40%;
	margin: 0px auto;
	height: 25px;
	
	padding: 5px 9px;
}

/************************************************************************************
MAIN NAVIGATION
*************************************************************************************/
#xnote_main_nav {
	position:fixed;
	top: 10px;
	width:95%;
	margin: 0px auto;
	background: #ccc;
	z-index: 5000;
	/* gradient */
	background: #6a6a6a url(images/nav-bar-bg.png) repeat-x;
	background: -webkit-gradient(linear, left top, left bottom, from(#b9b9b9), to(#6a6a6a));
	background: -moz-linear-gradient(top,  #b9b9b9,  #6a6a6a);
	background: linear-gradient(-90deg, #b9b9b9, #6a6a6a);
	/* rounded corner */
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	/* box shadow */
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
}
#xnote_main_nav li {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	position: relative;
}
#xnote_main_nav li:first-child {
	margin-left: 10px;
}
#xnote_main_nav a {
	line-height: 100%;
	font-weight: bold;
	color: #fff;
	display: block;
	padding: 14px 15px;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}
#xnote_main_nav a:hover {
	color: #fff;
	background: #474747;
	/* gradient */
	background: -webkit-gradient(linear, left top, left bottom, from(#282828), to(#4f4f4f));
	background: -moz-linear-gradient(top,  #282828,  #4f4f4f);
	background: linear-gradient(-90deg, #282828, #4f4f4f);
}

/************************************************************************************
Body Content
*************************************************************************************/
#xnote_body_content {
	position:absolute;
	top: 60px;
	width: 100%;
	//height: 300px;
	
	background: #fff;
	margin: 0px auto;
	
	
	margin: 10px 0 10px;
	padding: 5px 0px;
	/* rounded corner */
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	/* box shadow */
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
}

.xnote_body_section{
	/*display: none;
	position:fixed;
	top: 60px;*/
	width:90%;
	margin: 20px auto;
	padding: 18px 5px;
	
	/* rounded corner */
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	/* box shadow */
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
	/*border*/
	border: 1px solid #172b4e;
	border-bottom-color: #142647;
	border-radius: 5px;
	/*background*/
	background: #5715f9;
	background-clip: padding-box;
	background-image: linear-gradient(left bottom, rgb(82,75,179) 13%, rgb(133,0,133) 84%);
	background-image: -o-linear-gradient(left bottom, rgb(82,75,179) 13%, rgb(133,0,133) 84%);
	background-image: -moz-linear-gradient(left bottom, rgb(82,75,179) 13%, rgb(133,0,133) 84%);
	background-image: -webkit-linear-gradient(left bottom, rgb(82,75,179) 13%, rgb(133,0,133) 84%);
	background-image: -ms-linear-gradient(left bottom, rgb(82,75,179) 13%, rgb(133,0,133) 84%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		right top,
		color-stop(0.13, rgb(82,75,179)),
		color-stop(0.84, rgb(133,0,133))
	);
	/*box shadow*/
	-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
}
